.hero {
    background-color: rgba(242, 100, 64, 0.03);
    h1 {
        font-size : $heading-1-size;
        font-weight: 700;
        color: $black-color;
    }
    p {
        font-size : $body-1-size;
        
        color: $grey-color;
    }

.service{
    .card{
        .card-service{
            img{
                width: 100px;
    
            }
            h3{
                font-size: $heading-4-size;
                font-weight: 600;
                color: $black-color;
            }
            p{
                font-weight: 400;
                color: $grey-color;
            }
        }
        
    }
    .card-destination {
        height: 350px;
        background-size: cover;
        border-radius: 10px;

            &:hover{
                transform: translateY(-10px);
                transition: .5s;
            }

        .card-body{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #000000 100%);
            border-radius: 10px;
            position: relative;

            .content{
                position: absolute;
                bottom: 20px;
                h3{
                    color: $white-color;
                }
                p{
                    color: $soft-grey-color;
                    padding: auto;
                }
            }
        }
    }
}

.guide{
    .card{
        .rating{
            .bx{
                font-size:24px;
                color: $orange-color;
            }
        }
        .maps{
            .bx{
                font-size:24px;
            }
        }
        .globes{
            .bx{
                font-size:24px;
            }
        }
    }
}
}

